.page {
  position:relative;
  float:left;
  margin:.25rem;
  height:12rem;
  //opacity:.9;
  transition: opacity 400ms ease-out;
  &:hover {
    opacity: 1;
    .label { background: rgba(0,0,0,.95) }
  }
  &:after { content:''; background:transparent; opacity:.18 }
  &:before {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:calc(100% + 2px);
    z-index:2;
    opacity:1;
    transition: opacity 100ms ease-out;
  }
  &[data-description-faded="true"]{
    .body { opacity: 0 }
  }
  &[data-is-active="true"]{
    &:before { display:none }
  }
  &[data-is-active="false"] {
    cursor:pointer;
    &:hover {
      &:before { opacity: 0 }
      &:after {
        content:'';
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        z-index:2;
        background:$highlight;
        opacity:.06;
        border-radius:.25rem;
        transition: background 150ms ease-out, opacity 400ms linear;
      }
      img {
        border:2px solid $highlight;
        margin:-1px;
      }
    }
  }
  .label {
    position:absolute;
    top:1.25rem;
    right:-1px;
    max-width:calc(100% - 16px);
    padding: 0 .625rem;
    background:rgba(0,0,0,.8);
    border-radius:2px;
    border-bottom-left-radius:0;
    border-top-left-radius:0;
    line-height:2rem;
    font-family:'Abel', sans-serif;
    font-size:1.125rem;
    //font-weight:700;
    text-shadow:1px 1px 1px black;
    //opacity:.7;
    transition: background 300ms ease-out;
  }
  .expand-btn {
    position:absolute;
    bottom:.25rem;
    right:.5rem;
    height:3.25rem;
    width:3.875rem;
    background:rgba(0,0,0,.8);
    border-radius:3px;
    opacity:0;
    transition: opacity 350ms ease-out;
    cursor:pointer;
    &:hover {
      background:black;
      &:before { opacity:1 }
    }
    &:before {
      position:absolute;
      left:0;
      top:0;
      width:100%;
      text-align:center;
      line-height:3.4375rem;
      font-size:2rem;
      opacity:.5;
      transition: opacity 150ms ease-out;
    }
  }
  .close-project {
    position:absolute;
    top:.25rem;
    right:.5rem;
    height:3.25rem;
    width:3.875rem;
    //background:rgba(0,0,0,.8);
    border-radius:3px;
    opacity:0;
    transition: opacity 350ms ease-out;
    cursor:pointer;
    &:hover {
      //background:black;
      &:before { opacity:1 }
    }
    &:before {
      position:absolute;
      left:0;
      top:0;
      width:100%;
      text-align:center;
      line-height:6rem;
      font-size:3.25rem;
      opacity:.8;
      transition: opacity 150ms ease-out;
      text-shadow:1px 2px 2px rgba(0,0,0,.7);
    }
  }
  .body {
    position:absolute;
    left:1.25rem;
    bottom:0;
    min-height:10rem;
    max-width:calc(100% - 6rem);
    padding: .625rem 1.0625rem;
    border-radius:3px;
    line-height:1.4375rem;
    font-size:1.0625rem;
    //opacity:0;
    //pointer-events:none;
    .page-title, p { pointer-events:all }
    .page-title {
      float:left;
      padding: 0 .625rem;
      background:rgba(0,0,0,.8);
      line-height:2.875rem;
      font-size:1.875rem;
      font-weight:700;
      font-family:'Abel', sans-serif;
    }
    .description {
      float:left;
      width:100%;
      margin-top:2px;
      //pointer-events:none;
      p {
        float:left;
        max-width:48rem;
        padding: .4375rem .625rem;
        margin: 0;
        background:rgba(0,0,0,.8);
        line-height:1.5rem;
        font-size:1.125rem;
        //pointer-events:all;
      }
    }
  }
  img {
    position:relative;
    box-sizing: content-box;
    float:left;
    max-height:100%;
    border:1px solid rgba(0,0,0,.5);
    border-radius:.25rem;
    //box-shadow:1px 1px 1px rgba(0,0,0,.5);
    transition: all 150ms ease-out;
  }
}