#Sidebar {
  display:flex;
  flex-direction:column;
  position:relative;
  width:14rem;
  min-width:14rem;
  background:$sidebar-bg;
  border-right:1px solid rgba(0,0,0,.6);
  padding:0 .75rem 0 .625rem;

  text-shadow: 1px 1px 1px black;
  .header {
    position:relative;
    min-height:14.875rem;
    border-bottom:1px solid rgba(0,0,0,.2);
    .portrait {
      position:absolute;
      top:.75rem;
      left:2.4375rem;
      border:1px solid rgba(0,0,0,.5);
      border-radius:100px;
      width:7.25rem;
      height:7.25rem;
      box-shadow:1px 1px 1px rgba(0,0,0,.5);
    }
    .name {
      position:absolute;
      top:8.3125rem;
      left:0;
      width:100%;
      font-family:'Slabo 27px', serif;
      text-align:center;
      font-size:1.9375rem;
      font-weight:800;
    }
    .description {
      position:absolute;
      top:10.5rem;
      left:0;
      width:100%;
      //padding: 0 1rem;
      text-align:center;
      line-height:1.25rem;
      font-size:.9375rem;
    }
  }
  .university {
    position:relative;
    height:4.125rem;
    padding-left:3.875rem;
    border-bottom:1px solid rgba(0,0,0,.2);
    .logo {
      position:absolute;
      top:0.75rem;
      left:.75rem;
      width:2.25rem
    }
    .name {
      float:left;
      margin-top:.625rem;
      font-size:1.25rem;
      font-weight:600;
    }
    .focus {
      float:left;
      margin-left:.0625rem;
      font-size:.9375rem;
      line-height:1.3875rem;
    }
  }
  .contact {
    padding-top:.375rem;
    .section-header {
      line-height:2.25rem;
      font-size:1.5rem;
      font-weight:700;
    }
    a {
      position:relative;
      float:left;
      padding-left:3.875rem;
      padding-bottom:.625rem;
      line-height:2.625rem;
      font-size:1.25rem;
      font-weight:600;
      color:white;
      text-decoration:none;
      cursor:pointer;
      border-bottom:1px solid rgba(0,0,0,.2);
      //opacity:.8;
      transition: opacity 150ms ease-out;
      &:hover {
        opacity:1;
        text-decoration:underline;
      }

      &:before {
        position:absolute;
        top:.25rem;
        left:.625rem;
        font-size:2.625rem;
      }
    }
  }
  .skills, .tools, .languages {
    float:left;
    padding: 0 .625rem 1.1875rem;
    border-bottom:1px solid rgba(0,0,0,.2);
    &.skills { display:flex; flex-direction:column; overflow:auto; }
    &.tools, &.languages { position:relative; float:left; padding: .375rem .3875rem .625rem }
    &::-webkit-scrollbar { display: none }
    @import 'Skill/_';
    @import 'Tool/_';
  }
}