#FullPage {
  position:fixed;
  display:flex;
  flex-direction:row;
  justify-content:center;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.75);
  padding: 1.25rem 2rem 9.75rem;
  z-index:9999;
  &[data-transitioning="true"]{
    .body .details, .body img {
      margin-top:10px;
      opacity: 0;
      transition: none;
    }
  }

  .body {
    position:relative;
    height:100%;
    //flex:1;
    img { margin-top:0; height: 100%; max-width:100%; opacity: 1; transition: all 200ms ease-out; }
    //&:hover .details { opacity: .2; transition: opacity 250ms 3000ms ease-out; }
    .details {
      position:absolute;
      min-height:13rem;
      left:1.125rem;
      bottom:-8.5rem;
      margin-top:0;
      opacity:1;
      transition: all 400ms 50ms ease-out;
      pointer-events: none;
      .title, .description p { pointer-events: all }
      &:hover { opacity: 1 }
      .title {
        float:left;
        margin-bottom:2px;
        padding: 0 1.3125rem;
        background:rgba(0,0,0,.95);
        line-height:4.25rem;
        font-size:2.625rem;
        font-weight:700;
        font-family:'Abel', sans-serif;
      }
      .description {
        float:left;
        width:100%;
        p {
          float:left;
          margin: 0;
          padding: .6875rem 1.3125rem;
          max-width:58rem;
          background:rgba(0,0,0,.95);
          line-height:1.875rem;
          font-size:1.375rem;
        }
      }
    }
  }
  .page-switch {
    position:absolute;
    top:calc(50% - 12rem);
    height:12rem;
    width:6rem;
    background:rgba(0,0,0,.7);
    transition:all 150ms ease-out;
    &:hover {
      background:rgba(0,0,0,.9);
    }
    cursor:pointer;
    &[data-active="true"]:hover:before { opacity: 1 }
    &[data-active="false"]{
      opacity:.2;
      cursor:default;
    }
    &.icon-caret-left { left:1.25rem }
    &.icon-caret-right { right:1.25rem }
    &:before {
      position:absolute;
      left:0;
      top:0;
      width:100%;
      text-align:center;
      line-height:12rem;
      font-size:4rem;
      opacity:.7;
    }
  }

}