.project {
  display:flex;
  flex-direction:column;
  float:left;
  width:100%;
  padding: 1.25rem .5625rem .625rem .875rem;
  //margin-top:.125rem;
  border-bottom:1px solid rgba(0,0,0,.375);
  &:last-of-type { margin-bottom:50%; }
  &:first-of-type { margin-top:0 }
  &[data-project-focused="true"]{
    .pages {
      overflow:hidden;
      min-height:38rem;
      .break { display:none }
      .wrap {
        position:absolute;
        left:0;
        top:0;
        height:100%;
        width:1000rem;
        .page {
          height:100%;
          &:hover { opacity: 1 !important }

          &[data-off-screen="true"]{ pointer-events:none }
          &[data-relative-position="0"]{
            z-index:10;
            height:calc(100% - .5rem);
            opacity:1;
            &:hover .body { opacity:1 }
            .body { opacity:0 }
          }
          &[data-relative-position="1"]{
            opacity:.8;
            margin-top:1rem;
            margin-left:-4rem;
            height:calc(100% - 2.5rem);
            z-index:9;
          }
          &[data-relative-position="2"]{
            opacity:.6;
            margin-top:2rem;
            margin-left:-6rem;
            height:calc(100% - 4.5rem);
            z-index:8;
          }
          &[data-relative-position="3"]{
            opacity:.5;
            margin-top:3rem;
            margin-left:-8rem;
            height:calc(100% - 6.5rem);
            z-index:7;
          }
          &[data-relative-position="4"]{
            opacity:.3;
            margin-top:4rem;
            margin-left:-9rem;
            height:calc(100% - 8.5rem);
            z-index:6;
          }
          &[data-relative-position="5"]{
            opacity:.2;
            margin-top:5rem;
            margin-left:-10rem;
            height:calc(100% - 10.5rem);
            z-index:5;
          }
          &[data-relative-position="6"]{
            opacity:.1;
            margin-top:6rem;
            margin-left:-11rem;
            height:calc(100% - 12.5rem);
            z-index:4;
          }
          &[data-relative-position="7"]{
            opacity:.05;
            margin-top:7rem;
            margin-left:-12rem;
            height:calc(100% - 14.5rem);
            z-index:3;
          }
          &:before { background:rgba(0,0,0,.4) }
          .label { display:none }

        }
      }
    }
  }
  &[data-project-focused="false"]{
    .pages {
      min-height:12.5rem;
    }
    .pages .wrap {
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
    }
  }
  .title, .overview {
    padding: 0 .3125rem;
    transition: all 100ms ease-out;
  }
  .project-header {
    display:flex;
    flex-direction:row;
    .title {
      font-family:'Slabo 27px', serif;
      //font-family:'Roboto', serif;
      //font-family:'Lato', serif;
      margin-right:.25rem;
      line-height:2.5rem;
      font-size:2.0625rem;
      font-weight:700;
    }
    .links {
      flex:1;
      .link {
        position:relative;
        float:left;
        margin: .125rem .25rem 0;
        padding:0 3rem 0 .75rem;
        //background:rgba(0,0,0,.3);
        background:rgba(0,0,0,0);
        border:1px solid rgba(0,0,0,.6);
        border-radius:3px;
        line-height:1.875rem;
        font-family:'Lato', sans-serif;
        font-size:1em;
        color:white;
        text-decoration:none;
        cursor:pointer;
        opacity:.85;
        transition: all 150ms ease-out;
        &:hover {
          opacity: 1;
          background:rgba(0,0,0,.11);
        }
        &:before {
          position:absolute;
          right:0;
          top:0;
          width:2.25rem;
          border-left:1px solid rgba(0,0,0,.2);
          text-align:center;
          line-height:2.1225rem;
          font-size:1.25rem;
        }
      }
    }
  }
  .overview {
    font-family:'Lato', serif;
    font-size:1.125rem;
    margin: .125rem 0 .3125rem;
    p {
      max-width:52rem;
      margin: 0;
      line-height:1.5625rem;
    }
  }

  .page-selectors {
    //display:none;
    margin: 0 0 .25rem;
    padding: 0 .3125rem;

    .break {
      float:left;
      width:1px;
      margin: .5rem .625rem 0;
      height:1.5rem;
      background:rgba(0,0,0,.28);
    }
    .page-selector {
      position:relative;
      float:left;
      margin: 0 .25rem;
      padding: 0 .3875rem;
      border-bottom:1px solid rgba(255,255,255,.3);
      line-height:2rem;
      font-size:1.3125rem;
      font-family:'Abel', sans-serif;
      opacity:.5;
      cursor:pointer;
      transition: all 150ms ease-out;
      &:hover { opacity:.8; border-color:$highlight }
      &:first-of-type { margin-left: 0 }
      &[data-focused="true"]{
        opacity:1;
        border-color:$feed-header-bar;

        &:hover {
          padding-right:1.625rem;
          &:before {
            content:'x';
            position:absolute;
            right:0;
            top:0;
            width:1.5625rem;
            line-height:1.875rem;
            text-align:center;
            font-family:'Lato', sans-serif;
            font-size:1.25rem;
            font-weight:700;
            transition: opacity 150ms ease-out;
          }
        }
      }
    }
  }
  .pages {
    position:relative;
    //.wrap { width:100% }
    .break {
      height:1px;
      min-width:100%;
      background:rgba(0,0,0,.125);
      margin:.4375rem 0 .3125rem;

    }
    //transition: min-height 50ms ease-out;
    @import 'Page/_';
  }

}