#Feed {
  position:relative;
  flex:1;
  display:flex;
  flex-direction:column;

  .header {
    position:relative;
    //display:none;
    display:flex;
    flex-direction:row;
    height:2.75rem;
    padding-left:.3125rem;
    border-bottom:1px solid rgba(0,0,0,.28);
    .logo {
      display:none;
      position:absolute;
      top:.5rem;
      left:1.1875rem;
      height:1.625rem;
      transition: opacity 150ms ease-out;
      &[data-filtered="true"]{
        opacity:.5;
        cursor:pointer;
        &:hover { opacity:1 }
      }
    }
    .tags-window {
      position:relative;
      flex:1;
      overflow:hidden;
      .tags-wrap {
        position:absolute;
        left:0;
        top:0;
        width:100rem;
        height:100%;
        padding:0 .5625rem;
        .tag {
          float:left;
          padding: 0 .375rem;
          font-family:'Abel', sans-serif;
          font-size:1.1875rem;
          line-height:2.75rem;
          opacity:.4;
          cursor:pointer;
          transition: opacity 150ms ease-out;
          &[data-active="true"]{
            cursor:default;
            opacity:1;
          }
          &:hover {
            opacity:.7;
          }
        }
      }
    }
  }

  #Projects {
    position:relative;
    flex:1;
    overflow:auto;
    &::-webkit-scrollbar { display: none }
    @import 'Project/_';
  }

}