#Feed {
  position:relative;
  flex:1;
  display:flex;
  flex-direction:column;

  .header {
    position:relative;
    display:flex;
    flex-direction:row;
    height:3.25rem;
    padding-left:.375rem;
    border-bottom:1px solid rgba(0,0,0,.1);
    .logo {
      position:absolute;
      top:.625rem;
      left:1.3125rem;
      height:1.875rem;
      transition: opacity 150ms ease-out;
      &[data-filtered="true"]{
        opacity:.5;
        cursor:pointer;
        &:hover { opacity:1 }
      }
    }
    .tags-window {
      position:relative;
      flex:1;
      overflow:hidden;
      .tags-wrap {
        position:absolute;
        left:0;
        top:0;
        width:100rem;
        height:100%;
        padding:0 .5625rem;
        .tag {
          float:left;
          padding: 0 .4375rem;
          font-family:'Abel', sans-serif;
          font-size:1.125rem;
          line-height:3.25rem;
          opacity:.4;
          cursor:pointer;
          transition: opacity 150ms ease-out;
          &[data-active="true"]{
            opacity:.85;
            &:hover { opacity:1 }
          }
          &:hover {
            opacity:.7;
          }
        }
      }
    }
  }

  #Projects {
    position:relative;
    flex:1;
    overflow:auto;
    @import 'Project/_';
  }

}